.about-us-container {
  max-width: 1600px;

  /* Hero Section */
  .hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -99px;
  
    .hero-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        font-size: 4rem;
        color: #000000;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.5rem;
        color: #000000;
      }
    }
  }

  /* Who We Are Section */
  .who-we-are-section {
    background-color: white;
    margin-top: -95px;

    .section-title {
      text-align: center;

      .best {
        font-weight: 400;
        color: #8bc54b;
        margin-bottom: 10px;
        font-size: 30px;
        font-family: "cookie", cursive;
      }
      .ncr {
        font-weight: 400;
        color: #000000;
        margin-bottom: 20px;
        font-size: 30px;
      }
    }

    p {
      font-size: 15px;
      color: #151515;
      line-height: 1.5;
      margin-left: 60px;
      padding-left: 60px;
      padding-right: 60px;
      justify-content: center;
      padding-bottom: 50px;
    }
  }

  /* Our Story Section */

  .about__banner {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: centers;
    justify-content: space-between;
    overflow: hidden;
  
    .ab-left {
  
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 50%;
  
      // .p-text {
      //   max-width: 40%;
      // }
  
      // .about__logo {
      //   width: 110px;
      //   margin-bottom: 40px;
      // }
  
  
  
      .ab-head-first {
        font-weight: 400;
        color: #8bc54b;
        margin-bottom: 10px;
        font-size: 35px;
        font-family: "cookie", cursive;
      }
  
      .ab-head-sec {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 20px;
        font-family: "Rubik";
      }
  
      span {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px 30px;
      }
  
      .outline-btn {
        background-color: transparent;
        border: 1px solid #000000;
        color: #000000;
      }
    }
  
    .ab-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      img {
        width: 500px;
  
      }
    }
  
  }
  
  /* Vision and Mission Section */
  .vision-mission-section {
    // margin-top: -90px;
    padding: 50px 10px !important;
    background-color: #fffde8;
    // margin-bottom: 30px;
    .section-title {
      text-align: center;
      margin-bottom: 2rem;

      h2 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
      }
    }

    .vision-mission-content{
      // border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .vision,
      .mission,
      .csr {
        width: 100% !important;
        padding: 2rem;
        background-color: #fff;
        // border: 1px solid black;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
       
        
      }

      .vision {
        background-color: #fff;
        h1 {
          font-size: 2rem;  
          font-weight: 500;
          margin-bottom: 1rem;
          color: black;
          text-align: center;
        }

        p {
          font-size: 14px;
          
          color: black;
        }
      }

      .mission {
        background-color: #EEEEEE;
      }

      .csr {
        background-color: #EEEEEE;
      }
    }
  }

  /* Values section */
  .values-section {
    margin-top: -100px;
    background-color: #ffffff;
    .section-title {
      text-align: center;
      margin-bottom: 40px;

      h2 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
      }
    }
    .content {
      font-size: 15px;
      color: #000000;
      line-height: 1.5;
      margin-left: 60px;
      padding-left: 60px;
      padding-right: 60px;
      justify-content: center;
      padding-bottom: 50px;
    }

    .image {
      margin-left: 190px;
      height: 20%;
      width: 30%;
      display: flex;
      justify-content: space-between;

      margin-top: 10px;

      .one {
        margin-right: 25%;
      }
    }
  }

  // Founderr
  .section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;

    .section-content {
      flex: 1;
      margin-right: 20px;

      .section-heading {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 70px;
        margin-top: -20px;
      }

      .section-paragraph {
        font-size: 16px;
        line-height: 1.5;
        color: #666;
        margin-left: 70px;
        margin-top: 20px;
        margin-right: -50px;
      }
    }

    .section-photo {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      img {
        width: 450px;
        height: auto;
        margin-right: 90px;
      }
    }
  }

  // contact

  .contact-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px 90px 0px;
    background-color: white;

    .contact-us-heading {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      margin-top: -100px;
    }
    .contact-item {
      display: flex;
      align-items: center;
      margin-right: 90px;
      margin-top: 50px;

      .contact-icon {
        font-size: 24px;
        margin-right: 10px;
        color: #52a000;
      }

      span {
        font-size: 16px;
        color: #666;
      }
    }
  }
}
/* Tablets/iPad */
@media (min-width: 768px) and (max-width: 1024px) {
  .about-us-container {
    .hero-section .hero-content h1 {
      font-size: 3rem;
    }

    .who-we-are-section .section-title .best {
      font-size: 26px;
    }

    .who-we-are-section .section-title .ncr {
      font-size: 26px;
    }

    .who-we-are-section p {
      font-size: 14px;
    }

    .About__Banner .about__banner .left .p-text {
      max-width: 50%;
    }

    .About__Banner .about__banner .left .about__banner-info .ab-head-first {
      font-size: 26px;
    }

    .About__Banner .about__banner .left .about__banner-info .ab-head-sec {
      font-size: 26px;
    }

    // .About__Banner{
    //   .right {
    //     img {
    //       margin-top: -490px;
    //       width: 400px;
    //       height: 410px;
    //     }
    //   }
    // }

    .vision-mission-section{
    .images {
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-left: -70px;
      margin-right: 70px;
      width: 40%;
      height: 40%;
    }
  }

    .vision-mission-section .section-title h2 {
      font-size: 2.1rem;
    }

    .vision-mission-section .vision-mission-content .vision,
    .vision-mission-section .vision-mission-content .mission,
    .vision-mission-section .vision-mission-content .csr {
      width: 50%;
      height: 40%;
    }

    .values-section .section-title h2 {
      font-size: 2.2rem;
    }

    .values-section .content {
      font-size: 14px;
    }

    .values-section .image {
      margin-left: 150px;
      width: 40%;
    }

    .section-container .section-content .section-heading {
      font-size: 28px;
    }

    .section-container .section-content .section-paragraph {
      font-size: 14px;
    }

    .section-container .section-photo img {
      width: 350px;
    }

    .contact-us-container .contact-us-heading {
      font-size: 26px;
    }

    .contact-us-container .contact-item .contact-icon {
      font-size: 20px;
    }

    .contact-us-container .contact-item span {
      font-size: 14px;
    }
  }
}

/* Desktops */
@media (min-width: 1025px) {
  .about-us-container {
    .hero-section .hero-content h1 {
      font-size: 4rem;
    }

    .who-we-are-section .section-title .best {
      font-size: 30px;
    }

    .who-we-are-section .section-title .ncr {
      font-size: 30px;
    }

    .who-we-are-section p {
      font-size: 15px;
    }

    .About__Banner .about__banner .left .p-text {
      max-width: 40%;
    }

    .About__Banner .about__banner .left .about__banner-info .ab-head-first {
      font-size: 30px;
    }

    .About__Banner .about__banner .left .about__banner-info .ab-head-sec {
      font-size: 30px;
    }

    .About__Banner .about__banner .left .about__banner-info .btn1 {
      font-size: 15px;
    }

    .vision-mission-section .section-title h2 {
      font-size: 2.5rem;
    }

  
    .vision-mission-section .vision-mission-content .vision,
    .vision-mission-section .vision-mission-content .mission,
    .vision-mission-section .vision-mission-content .csr {
      width: 45%;
    }

    .values-section .section-title h2 {
      font-size: 2.5rem;
    }

    .values-section .content {
      font-size: 15px;
    }

    .values-section .image {
      margin-left: 190px;
      height: 20%;
      width: 30%;
    }

    .section-container .section-content .section-heading {
      font-size: 35px;
    }

    .section-container .section-content .section-paragraph {
      font-size: 16px;
    }

    .section-container .section-photo img {
      width: 450px;
    }

    .contact-us-container .contact-us-heading {
      font-size: 30px;
    }

    .contact-us-container .contact-item .contact-icon {
      font-size: 24px;
    }

    .contact-us-container .contact-item span {
      font-size: 16px;
    }
  }
}

/* Mobile Screens */
@media (max-width: 767px) {
  .about-us-container {
    .hero-section .hero-content h1 {
      font-size: 2.5rem;
    }

    .who-we-are-section .section-title .best {
      font-size: 22px;
    }

    .who-we-are-section .section-title .ncr {
      font-size: 22px;
    }

    .who-we-are-section p {
      font-size: 13px;
      margin-left: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .about__banner {
      .ab-left {
        width: 100%;
        
          .btn{
            font-size: 15px !important;
          }

      }
  
      .ab-right {
        display: none;
      }
    }

    .About__Banner .about__banner .left .about__banner-info .ab-head-first {
      font-size: 22px;
     
    }

    .About__Banner .about__banner .left .about__banner-info .ab-head-sec {
      font-size: 22px;
    }
    

    .vision-mission-section{
      .images {
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-left: -50px;
        margin-right: 10px;
        width: 40%;
        height: 40%;
      }

      
      // .vision-mission-content,
      // .vision,
      // .mission,
      // .csr {
      //   display: block;
      //   height: 130%;
      //   width: 170%;
      //   margin-left: 25px;
      //   background-color: #fffde8;
       
      //   h3 {
      //     font-size: 1.8rem;
      //     font-weight: 500;
      //     margin-bottom: 1rem;
      //     color: white;
      //     text-align: center;
      //   }
      // }
    }
     
    .vision-mission-section .section-title h2 {
      font-size: 2rem;
    }

    .values-section .section-title h2 {
      font-size: 2rem;
    }

    .values-section .content {
      font-size: 13px;
      margin-left: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .values-section .image {
      margin-left: 30px;
      width: 15%;
    }

    .contact-us-container{
      display: block;
      padding-left: 80px;
    }

    .section-container .section-content .section-heading {
      font-size: 30px;
      margin-left: 30px;
      margin-top: 10px;
    }

    .section-container .section-content .section-paragraph {
      font-size: 14px;
      margin-left: 20px;
      margin-top: 10px;
      margin-right: -180px;
    }

    .section-container .section-photo img {
      width: 100%;
      margin-top: 490px;
      margin-right: 80px;
    }

    .contact-us-container .contact-us-heading {
      font-size: 26px;
      margin-top: -100px;
    }

    .contact-us-container .contact-item {
      margin-right: 30px;
      margin-top: 30px;
      display: block;
    }

    .contact-us-container .contact-item .contact-icon {
      font-size: 20px;
    }

    .contact-us-container .contact-item span {
      font-size: 14px;
    }
  }
}


@media only screen and (max-width: 480px){
  .about__banner {
    .ab-left {
      width: 100%;
      .btn{
        font-size: 12px !important;
      }
    }

    .ab-right {
      display: none;
    }
  }

}
