.testimonial__card {
  
  // width: 500px;
  height: 250px;
  text-align: center;
  background-color: rgb(230, 230, 230);
  background-color: #FFF8EF;
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;

  .stars{
    width: 100px;
  }
  .name{
    font-size: 24px;
    text-align: center;
  }
  .p-text{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: #3d3d3c;
  }
  
}
