.banner {
  background-color: #fef4fb;

  .hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  }
}

//----------------------------SERVICES-----------------
.service__detail {
  background-color: var(--fade-yl-bg);
  height: 150px;
  position: relative;

  .services__option {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 2vmax 0;
    color: #8bc54b;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.184);

    &:last-child {
      border-right: none;
    }

    .ser {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-right: 2px solid rgba(0, 0, 0, 0.2);
      align-items: center;
      min-width: 230px;
      padding: 20px;
      text-align: center;

      h4 {
        font-size: 18px;
        font-weight: 400;
        color: black;
      }

      p {
        font-size: 16px;

      }

      svg {
        font-size: 2.3rem;
        margin-bottom: 3px;
      }

      .desc {
        font-size: 11px;
      }
    }

    .ser.ser-3 {
      border-right: none;
    }
  }
}

// ----------------------PRODUCTS---------------
.products {
  background-color: #ffff;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;

  .products__container {
    .product__heading {
      padding: 30px 0px;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EDEDED;

        h1 {
          font-size: 30px;
          font-weight: 400;
          display: inline;
          border-bottom: 2px solid #54B22C;
        }
      }
    }

    .products__cards {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 21%;
      overflow-x: auto;
      overscroll-behavior-inline: contain;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .feature__product {
      margin-top: 36px;
    }
  }

  .products__container>h3 {
    color: var(--primary-black);
    margin-bottom: 35px;
    text-align: center;
    font-size: 38px;

    span {
      margin-left: 0.5vmax;
      font-size: 12px;
      background-color: var(--primary-pink);
      border-radius: 15px;
      padding: 0.5vmin 1vmin;
      color: white;
      font-weight: 300;
    }
  }

  .right__btn {
    position: absolute;
    top: 28%;
    right: 6%;
    background-color: white;
    border-radius: 50%;
    padding: 0.5vmax;
    cursor: pointer;

    font-size: 2rem;
  }

  .left__btn {
    position: absolute;
    top: 28%;
    left: 6%;
    background-color: white;
    border-radius: 50%;
    padding: 0.5vmax;
    cursor: pointer;

    font-size: 2rem;
  }

  .scroll__buttons-2 {
    .right__btn {
      position: absolute;
      top: 74%;
      right: 6%;
      background-color: white;
      border-radius: 50%;
      padding: 0.5vmax;
      cursor: pointer;

      font-size: 2rem;
    }

    .left__btn {
      position: absolute;
      top: 74%;
      left: 6%;
      background-color: white;
      border-radius: 50%;
      padding: 0.5vmax;
      cursor: pointer;

      font-size: 2rem;
    }
  }
}

//----------------------------MENU__IMG----------------->

.div__row-img {
  user-select: none;
  padding: 5vmax 0 0 0;
}

.Menu {
  padding-top: 5vmax;
  background-color: #fef4fb;
  padding-bottom: 5vmax;

  .menu__container>h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .menu__container {
    .menu__head-sec {
      font-weight: 400;
    }

    .menu__head {
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    .menu__items {
      gap: 35px;
      background-color: #ececec;
      width: 50vmax;
      margin: 0 auto 35px auto; //For Centering
      border-radius: 25px;

      //Removing Marign From Class p-text
      .p-text {
        margin: 0;
      }

      div {
        padding: 0.6vmax 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      //Active Item Will Have this property
      .item-active {
        background-color: #8bc54b;
        color: white;
        border-radius: 25px;
        padding: 0.6vmax 10px;
      }
    }

    .menu__cards-container {
      flex-wrap: wrap;
      gap: 45px;

      .Card {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

//----------------------------ABOUT-BANNER-START----------------->



.about__banner {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: centers;
  justify-content: space-between;
  overflow: hidden;

  .ab-left {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;

    // .p-text {
    //   max-width: 40%;
    // }

    // .about__logo {
    //   width: 110px;
    //   margin-bottom: 40px;
    // }



    .ab-head-first {
      font-weight: 400;
      color: #8bc54b;
      margin-bottom: 10px;
      font-size: 35px;
      font-family: "cookie", cursive;
    }

    .ab-head-sec {
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 20px;
      font-family: "Rubik";
    }

    span {
      margin-top: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 30px 30px;
    }

    .outline-btn {
      background-color: transparent;
      border: 1px solid #000000;
      color: #000000;
    }
  }

  .ab-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      width: 500px;

    }
  }

}


// YESSSSSSS SECTION
.ysection {
  background-color: #ffffff;
  padding-top: 50px;
  // padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px 0px;
  .y-top{
    h2 {

      text-align: center;
      font-family: "cookie", cursive;
      font-size: 50px;
      font-weight: 400;
    }
  
    h1 {
      text-align: center;
      font-size: 50px;
      font-weight: 500;
      letter-spacing: 1px;
      color: #54B22C;
    }

  }
  .y-btm{
    img {
      margin-top: -30px;
    }
  }

 

 

}

// text section
.lifestyle {
  background-color: rgb(255, 248, 239);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  h1 {
    div {
      text-align: center;
    }
  }

  .food {
    color: #54B22C;
  }

  .life {
    color: red;

  }

}




//----------------------------TestimonialS-START----------------->
.test-wrapper {
  background-color: white;


  .testimonials {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 70px;
      text-align: center;
      font-weight: 500;
      margin-bottom: 20px;

      .enjoy1 {
        color: red;
      }

      .live1 {
        color: #54B22C;
      }
    }
  }

  .test-text {
    text-align: center;
    max-width: 70%;
    color: rgb(116, 116, 116);
    margin-bottom: 50px;
  }

  .test-cards {
    // width: 100%;
    gap: 0px 45px;
    // border: 1px solid black;
    padding: 0px 50px;
    // overflow: hidden;
  }

}









.Home {
  min-height: 100vh;
}

// Contact community
.cta{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ffffff;

  .cta-wrapper {
    background-color: #ecffe4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 40px 40px;
  
   
    .cta-left {
  
      .first {
        font-weight: 400;
        color: #ff2f00;
        margin-bottom: 10px;
        font-size: 30px;
        font-family: "cookie", cursive;
      }
  
      .sec {
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 20px;
      }
  
    
    }
  
    .cta-right {
      // border: 1px solid black;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items:center;
      margin-top: 30px;
    
      form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 20px 0px;
      }
  
      .form-field {
        display: flex;
        flex-direction: row;
        gap: 20px;
  
        label {
          margin-bottom: 6px;
          font-size: 18px;
        }
  
        input,
        textarea {
          padding: 10px;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          width: 300px ;
        }
  
        // textarea {
        //   height: 150px;
        // }
      }
  
      button {
        padding: 10px;
        background-color: #25a929;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
  
        &:hover {
          background-color: #034f06;
        }
      }
    }
  
  }

}







/* {---------------------POPULAR-CATEGORY  SECTION START----------------------------} */

.categories {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--fade-yl-bg);


  .categories__main {

    .cat-head {
      h2 {
        text-align: center;
        font-family: "cookie", cursive;
        font-size: 50px;
        font-weight: 400;
      }

      h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 500px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #54B22C;
      }
    }

    .cat_card_wrapper {
      padding: 40px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0px 30px;

      img {
        width: 248px;
      }
    }

    .cat-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// ----------------------MEDIA QUERIES-------------------
/* Desktops */
@media only screen and (min-width: 1024px) {
  .banner .hero__container {
    width: 100%;
  }

  .footer .footer__container {
    width: 80%;
    margin: 0 auto;
  }
}

/* Tablets/iPads */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .about__banner {
    .ab-right {
      img {
        width: 300px;
      }
    }
  }


  .banner .hero__container {
    width: 80%;
    margin: 0 auto;
  }

  .service__detail .services__option .ser {
    width: 23%;
  }

  .products .products__container .product__heading h1 {
    font-size: 40px;
  }

  .footer .footer__container {
    flex-direction: row-reverse;
  }

  .footer .footer__left {
    width: 40%;
  }

  .footer .footer__right .footer__menu {
    flex-direction: row;
  }

  .footer .footer__right .footer__menu h4 {
    margin-right: 30px;
  }
}



/* Mobile screens */
@media only screen and (max-width: 767px) {

  .test-wrapper .testimonials h1 {
    font-size: 50px;
}
  .test-wrapper .test-text {
    text-align: center;
    max-width: 90%;
    color: rgb(116, 116, 116);
    margin-bottom: 50px;
}
.service__detail {
  height: 300px;
  
  .services__option {
    // border: 1px solid black;
    
    top: 0px;
    left: 0px;
    transform: translate(0%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.184);

    &:last-child {
      border-right: none;
    }

    .ser {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-right: 2px solid rgba(0, 0, 0, 0.2);
      align-items: center;
      width: 200px !important;
      padding: 20px;
      // border: 1px solid black;

      h4 {
        font-size: 20px;
        font-weight: 500;
        color: black;
      }

      p {
        font-size: 18px;

      }

      svg {
        font-size: 2.3rem;
        margin-bottom: 3px;
      }

      .desc {
        font-size: 12px;
      }
    }

    .ser.ser-3 {
      border-right: none;
    }
  }
}
  .about__banner {
    .ab-left {
      width: 100%;
    }

    .ab-right {
      display: none;
    }
  }

  .ysection{
    .y-top{
      h2{
        font-size: 30px !important;
      }
      h1{
        font-size: 25px !important;
      }
    }
   
    
  }

  .lifestyle {
    padding-top: 60px;
    padding-bottom: 60px;

    h1 {
      font-size: 50px !important;

      div {
        font-size: 50px !important;
      }
    }
  }

  .cta-wrapper{
    .cta-right{
      .first{
        font-size: 25px;
      }
      .sec{
        font-size: 24px;
      }
      .para{
        font-size: 15px;
      }
    }
    .cta-left{
      form{
        .form-field{
          input{
            width: 300px;
          }
        }
      }
    }
  }

  .banner .hero__container {
    width: 100%;
  }

  .service__detail .services__option .ser {
    width: 100%;
  }

  .products .products__container .product__heading h1 {
    font-size: 32px;
  }

  .footer .footer__container {
    flex-direction: column;
  }

  .footer .footer__left {
    width: 100%;
  }

  .footer .footer__right .footer__menu {
    flex-direction: column;
  }

  .footer .footer__right .footer__menu h4 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 496px) {
  .lifestyle {
    padding-top: 40px;
    padding-bottom: 40px;

    h1 {
      font-size: 40px !important;

      div {
        font-size: 40px !important;
      }
    }
  }
  .test-wrapper .testimonials h1 {
    font-size: 30px;
}
  .test-wrapper .test-text {
    text-align: center;
    max-width: 90%;
    color: rgb(116, 116, 116);
    margin-bottom: 50px;
    font-size: 12px;
}
}
@media only screen and (max-width: 480px){
  .service__detail {
    height: 650px;
    .ser{
      margin: 10px 0px;
      border-right: 0px !important;
      background-color: #ecffe4 !important;
    }
  }
  
  .cta-right{
    form{

      .form-field{
        flex-direction: column !important;
        input{
          width: 250px !important;
        }
      }
    }
  }
}