.custom-popup {
  width: 300px !important;
  border-top: 4px solid #FFFDE8;
  background-color: #38AAB5;
  padding: 10px;
  margin: 0px;
  color: #fff;
}

.custom-close-button {
  font-size: 20px;
  color: #999;
}

.s-title {
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}

